.add-form{
  @include Flexbox(column, center, flex-start);
  height: inherit;
  width: inherit;
  padding-top: 10px;
  @media only screen and(min-width: 400px){ 
   width: 100%;
  }
  h2{
    @include headingH2;
    @include thinBorder;
  }
  
  legend{
    color: var(--textMedium);
    background-color: inherit;
    margin-top: 10px;
    padding-left: 10px;
    @media only screen and(min-width: 400px){
      text-align: center;
    }
    strong{

    }
  }
  h3{
    padding-left: 10px;
    background-color: inherit;
    color: var(--secondary);
    margin: 20px 0px;
    font-weight: 400;
  }
  .form-section{
    width: 100%;
    margin-top: 10px;
    padding-right: 10px;
    @media only screen and(min-width: 400px){ 
      @include Flexbox(column, center, center);
    }
    .field-section{
      background-color: inherit;
      @include Flexbox(column, flex-start, space-between);
      padding: 10px;
        @media only screen and(min-width: 400px){ 
          @include Flexbox(row, center, space-between);
          width: 400px;
        }
      label{
        @include Flexbox(column, center, center);
        color: var(--black);
        background-color: inherit;
        font-weight: 400;
        font-size: 0.8em;
        padding-bottom: 10px;
        @media only screen and(min-width: 400px){ 
          padding-bottom: 0px;
        }
      }
      input{
        font-size: 12px;
        letter-spacing: 0.5px;
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid var(--grey);
        &:invalid{
          border-color: red;
        }

          @media only screen and(min-width: 400px){ 
            width: 200px;
          }
      }
      input[type="radio"]{
        height: 20px;
        width: 20px;
      }
      input[type="date"]{
        margin-top: 5px;
      }
      .multiple-inputs{
        @include Flexbox(column, center, flex-end);
        width: 100%;
        @media only screen and(min-width: 400px){ 
          width: 200px;
        }
      }
    }

    .choice{
      @include Flexbox(column, flex-start, center);
      padding-top: 30px;
      @media only screen and(min-width: 400px){ 
        @include Flexbox(row, flex-start, center);
      }
      .radio-choices{
        @include Flexbox(row, center, space-between);
        padding-bottom: 10px;
        @media only screen and(min-width: 400px){ 
          @include Flexbox(row, center, center);
          padding: 10px 20px 10px 20px;
        }
        label{
          padding: 0px 10px 0px 0px;
        }
      }
      .border{
        @media only screen and(min-width: 400px){ 
        border-left: solid 1px var(--secondary);
        }
      }
     
    }
    .form-footer{
      padding: 40px 10px 30px 10px;
      width: 100%;
      @media only screen and(min-width: 400px){ 
        @include Flexbox(column, center, center);
        width: 50%;
      }
      .validation-text{
        min-height: 20px;
        color: red;
      }
      button{
        width: 100%;
        @media only screen and(min-width: 400px){ 
          width: 50%;
        }
      }
    }
  }

}