.add-form{
  @include Flexbox(column, center, flex-start);
  height: inherit;
  width: inherit;
  h2{
    font-weight: 300;
    margin-top: 30px;
    font-size: 1.7rem;
    padding: 30px auto;
    color: var(--textMedium);
  }
  
  legend{
    color: var(--textMedium);
    background-color: inherit;
    margin-top: 10px;
    padding-left: 10px;
    strong{

    }
  }
  h3{
    padding-left: 10px;
    background-color: inherit;
    color: var(--textMedium);
    margin: 20px 0px;
    font-weight: 400;
  }
  .form-section{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    @media only screen and(min-width: 600px){ 
      @include Flexbox(column, center, center);
    }
    .field-section{
      background-color: inherit;
      @include Flexbox(column, flex-start, space-between);
      padding: 10px;
        @media only screen and(min-width: 600px){ 
          @include Flexbox(row, center, space-between);
          width: 50%;
        }
      label{
        @include Flexbox(column, center, center);
        color: var(--black);
        background-color: inherit;
        font-weight: 400;
        font-size: 0.8em;
      }
      input{
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid var(--grey);
          @media only screen and(min-width: 600px){ 
            width: auto;
          }
      }
      input[type="radio"]{
        height: 20px;
        width: 20px;
      }
      input[type="date"]{
        margin-top: 5px;
      }
    }
    .choice{
      @include Flexbox(column, flex-start, center);
      padding-top: 30px;
      @media only screen and(min-width: 400px){ 
        @include Flexbox(row, flex-start, center);
      }
      .radio-choices{
        @include Flexbox(row, center, space-between);
        padding-bottom: 10px;
        @media only screen and(min-width: 400px){ 
          @include Flexbox(row, center, center);
          margin-left: 10px;
        }
        label{
          padding: 0px 10px 0px 0px;
        }

      }
     
    }
    .form-footer{
      padding: 40px 10px 30px 10px;
      width: 100%;
      @media only screen and(min-width: 600px){ 
        @include Flexbox(row, center, center);
        width: 50%;
      }
      button{
        width: 100%;
        @media only screen and(min-width: 600px){ 
          width: 50%;
        }
      }
    }
  }

}