.button{
  padding: 10px 20px;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
  &:hover{
    cursor: pointer;
    background-color: var(--secondary);
  }
  &:disabled{
    background-color: grey;
    pointer-events: none;
  }
}
