
  h2{
   @include headingH2;
  }
  .list{
    @include Flexbox(column, center, space-evenly);
    width: inherit;
    min-height: 100%;
    padding: 10px;
    .list-item{
      padding: 30px 20px;
      width: 100%;
      border-top: var(--grey) 1px solid;
      @media only screen and(min-width: 400px){ 
        min-width: 300px;
        max-width: 50%;
      }
      h3{
        font-size: 1.2rem;
        color: var(--textLight);
        font-weight: 900;
      }
      p{
        margin-top: 7px;
        font-size: 0.8rem;
        color: var(--textMedium);
      }
      .skills{
        color: var(--secondary);
        padding: 20px;
      }
      .li-footer{
        padding-top: 30px;
        @media only screen and(min-width: 400px){ 
          @include Flexbox(column, center, space-evenly);
          max-width: 50%;
        }
      }
    }
  }
