.modal{
  @include Flexbox(column, center, center);
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.389);
  .modal-inner{
    @include Flexbox(column, center, center);
    border-radius: 5px;
    height: 30%;
    background-color: white;
      width: 100%;
      @media only screen and(min-width: 400px){ 
        width: 50%;
       }
    .modal-header{
      font-size: 15px;
      color: var(--textDark);
      padding-bottom: 20px;
    }
  }
}