
  .nav{
    width: inherit;
    height: 100%;
    color: var(--textLight);
    h1{
      color: var(--primary);
      text-align: center;
      width: 100%;
      font-weight: 900;
      font-size: 1.2rem;
      padding: 10px 20px;
      @media only screen and(min-width: 400px){
        text-align: left;
      }
    }
    ul{
      @include Flexbox(column, center, space-evenly);
      flex-wrap: wrap;
      width: inherit;
      min-height: 100%;
      padding: 10px 0px;
      box-shadow: 0 8px 6px -6px var(--grey);
      margin-bottom: 10px;
      @media only screen and(min-width: 400px){
        flex-direction: row;
      }
      li{
        padding: 10px 20px;
        border-bottom: 1px solid rgba(255, 0, 0, 0);
        
        a{
          text-transform: uppercase;
          font-size: 0.7em;
          font-weight: 400;
          color: var(--textMedium);
          padding-bottom: 10px;
          transition: ease-in-out 0.10s;
          &:hover{
            color: var(--primary);
          }
        }
      }
    }
  }

