.detail-view{
  @include Flexbox(column, center, center);
  height: 100%;
  width: 100%;
  padding: 10px;
  .detail-list{
    background-color: inherit;
    @media only screen and(min-width: 830px){ 
      border-left: solid 1px var(--grey);
      padding: 0px 20px 20px 20px;
    }
    h2{
      @include headingH2;
      padding-left: 5px;
      @media only screen and(min-width: 830px){ 
        margin-left: 80px;
        @include thinBorder;
      }
    }
    li{
      @include Flexbox (column, center, center);
      padding: 5px;
      @media only screen and(min-width: 830px){ 
        margin: 0px 50px 0px 50px;
        padding: 20px 50px 20px 50px;
      }
      p{
        @include Flexbox(column, flex-start, space-between);
        font-size: 13px;
        width: 100%;
        padding-bottom: 20px;
        text-align: left;
        color: var(--textLight);
        margin-bottom: 10px;
        border-bottom: 1px solid var(--grey);
        strong{
          font-weight: 700;
          padding-bottom: 5px;
        }
        span{
          text-transform: capitalize;
          width: 50%;
        }
        .info{
          @include Flexbox(row, center, flex-start);
          width: 100%;
          color: var(--textLight);
          @media only screen and(min-width: 830px){ 
            width: 50%;
          }
        }
        @media only screen and(min-width: 830px){ 
          @include Flexbox(row, flex-start, space-between);
          border-bottom: none;
          padding-bottom: 0px;
        }
      }
      .details{
        background-color: red;
      }
      .li-footer{
        @include Flexbox(row, center, center);
        padding-top: 40px;
        button{
          width: 100%;
        }
        @media only screen and(min-width: 830px){ 
          @include Flexbox(row, flex-start, space-between);
          width: 50%;
        }
      }
    }
  }
}