@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: rgb(179, 179, 179);
  --offwhite: white;
  --primary: rgb(3, 130, 214);
  --secondary: rgb(228, 75, 4);
  /*TEXTS*/
  --textLight: rgb(94, 90, 90);
  --textMedium: rgb(77, 71, 71);
  --textDark: rgb(56, 56, 56);
  --grey: rgb(238, 224, 224);
}

* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

ul {
  list-style: none;
}

input:focus {
  outline-color: var(--secondary);
}

input[type="radio"] {
  color: red;
  background-color: red;
}

.App {
  height: 100vh;
  width: 100vw;
}

.App .header {
  width: 100%;
}

.App .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

p {
  margin: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  padding: 30px 20px;
  background-color: inherit;
  color: var(--black);
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: inherit;
  min-height: 100%;
  padding: 10px;
}

.list .list-item {
  padding: 30px 20px;
  width: 100%;
  border-top: var(--grey) 1px solid;
}

@media only screen and (min-width: 400px) {
  .list .list-item {
    min-width: 300px;
    max-width: 50%;
  }
}

.list .list-item h3 {
  font-size: 1.2rem;
  color: var(--textLight);
  font-weight: 900;
}

.list .list-item p {
  margin-top: 7px;
  font-size: 0.8rem;
  color: var(--textMedium);
}

.list .list-item .skills {
  color: var(--secondary);
  padding: 20px;
}

.list .list-item .li-footer {
  padding-top: 30px;
}

@media only screen and (min-width: 400px) {
  .list .list-item .li-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 50%;
  }
}

.detail-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.detail-view .detail-list {
  background-color: inherit;
}

@media only screen and (min-width: 400px) {
  .detail-view .detail-list {
    border-left: solid 1px var(--grey);
    padding: 0px 20px 20px 20px;
  }
}

.detail-view .detail-list h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  padding: 30px 20px;
  background-color: inherit;
  color: var(--black);
}

.detail-view .detail-list li {
  padding: 5px;
}

.detail-view .detail-list li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  text-align: left;
  color: var(--textLight);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--grey);
}

.detail-view .detail-list li p strong {
  font-weight: 700;
  padding-bottom: 5px;
}

.detail-view .detail-list li p span {
  text-transform: capitalize;
  width: 50%;
}

.detail-view .detail-list li p .info {
  color: var(--textLight);
}

@media only screen and (min-width: 400px) {
  .detail-view .detail-list li p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0px;
  }
}

.detail-view .detail-list li .li-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.detail-view .detail-list li .li-footer button {
  width: 100%;
}

@media only screen and (min-width: 400px) {
  .detail-view .detail-list li .li-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
}

.add-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: inherit;
  width: inherit;
  padding-top: 10px;
}

@media only screen and (min-width: 400px) {
  .add-form {
    width: 100%;
  }
}

.add-form h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
  padding: 30px 20px;
  background-color: inherit;
  color: var(--black);
  border-bottom: var(--grey) 1px solid;
}

.add-form legend {
  color: var(--textMedium);
  background-color: inherit;
  margin-top: 10px;
  padding-left: 10px;
}

@media only screen and (min-width: 400px) {
  .add-form legend {
    text-align: center;
  }
}

.add-form h3 {
  padding-left: 10px;
  background-color: inherit;
  color: var(--secondary);
  margin: 20px 0px;
  font-weight: 400;
}

.add-form .form-section {
  width: 100%;
  margin-top: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.add-form .form-section .field-section {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .field-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 400px;
  }
}

.add-form .form-section .field-section label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--black);
  background-color: inherit;
  font-weight: 400;
  font-size: 0.8em;
  padding-bottom: 10px;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .field-section label {
    padding-bottom: 0px;
    max-width: 170px;
  }
}

.add-form .form-section .field-section input, .add-form .form-section .field-section textarea {
  font-size: 12px;
  letter-spacing: 0.5px;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--grey);
}

.add-form .form-section .field-section input:invalid, .add-form .form-section .field-section textarea:invalid {
  border-color: red;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .field-section input, .add-form .form-section .field-section textarea {
    width: 200px;
  }
}

.add-form .form-section .field-section input[type="radio"] {
  height: 20px;
  width: 20px;
}

.add-form .form-section .field-section input[type="date"] {
  margin-top: 5px;
}

.add-form .form-section .field-section .multiple-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .field-section .multiple-inputs {
    width: 200px;
  }
}

.add-form .form-section .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.add-form .form-section .choice .radio-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .choice .radio-choices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 20px 10px 20px;
  }
}

.add-form .form-section .choice .radio-choices label {
  padding: 0px 10px 0px 0px;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .choice .border {
    border-left: solid 1px var(--secondary);
  }
}

.add-form .form-section .form-footer {
  padding: 40px 10px 30px 10px;
  width: 100%;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
}

.add-form .form-section .form-footer .validation-text {
  min-height: 20px;
  color: red;
}

.add-form .form-section .form-footer button {
  width: 100%;
}

@media only screen and (min-width: 400px) {
  .add-form .form-section .form-footer button {
    width: 50%;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 50px;
  height: 100vh;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .home {
    width: 70%;
  }
}

.home h2 {
  font-size: 1.7rem;
  font-weight: 900;
  color: var(--primary);
}

@media only screen and (min-width: 600px) {
  .home h2 {
    font-size: 1.8rem;
  }
}

.home p {
  font-size: 0.9rem;
  width: 90%;
}

.button {
  padding: 10px 20px;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
}

.button:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.button:disabled {
  background-color: grey;
  pointer-events: none;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.389);
}

.modal .modal-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
  border-radius: 5px;
  height: 30%;
  width: 50%;
  background-color: white;
}

.modal .modal-inner .modal-header {
  color: var(--primary);
  padding-bottom: 20px;
}

.nav {
  width: inherit;
  height: 100%;
  color: var(--textLight);
}

.nav h1 {
  color: var(--primary);
  text-align: center;
  width: 100%;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 10px 20px;
}

@media only screen and (min-width: 400px) {
  .nav h1 {
    text-align: left;
  }
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: inherit;
  min-height: 100%;
  padding: 10px 0px;
  -webkit-box-shadow: 0 8px 6px -6px var(--grey);
          box-shadow: 0 8px 6px -6px var(--grey);
  margin-bottom: 10px;
}

@media only screen and (min-width: 400px) {
  .nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav ul li {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 0, 0, 0);
}

.nav ul li a {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 400;
  color: var(--textMedium);
  padding-bottom: 10px;
  -webkit-transition: ease-in-out 0.10s;
  transition: ease-in-out 0.10s;
}

.nav ul li a:hover {
  color: var(--primary);
}
/*# sourceMappingURL=styles.css.map */