:root {
  --white: rgb(179, 179, 179);
  --offwhite: white;

  --primary: rgb(3, 130, 214);
  --secondary: rgb(228, 75, 4);



  /*TEXTS*/

  --textLight: rgb(94, 90, 90);
  --textMedium: rgb(77, 71, 71);
  --textDark: rgb(56, 56, 56);
  
  --grey: rgb(238, 224, 224);
}

